*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img{
  width: 100%;
}
.nav {
 display: flex;
 list-style: none;
}

.nav-item {
  flex-grow: 1;
}

.nav-item_link{
  display: block;
  padding: 10px 0;
  text-align: center;
  background-color: #00B7FF;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.nav-item_link:hover{
  background-color: aquamarine;
}

/* listado de libros */
.lista{
  max-width: 1200px;
  margin: 40px auto;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.lista-item{
  background-color: #717374;
  border-radius:20px 0 20px 0;
  height: 100%;
  padding: auto;
}
.lista-item_link{
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  display: inline-block;
  padding: auto;
}
.lista-item_link:hover{
  color:darkblue;
}
.lista-item_img{
  height: 70%;
  border-radius: 20px 0 0 0;
}
.lista-item_img:hover{
  border: blue;
}
